img {
  width: 100%;
  height: auto;
  display: block;
}

.logo_img {
  width: 25%;
  display: grid;
  place-content: right;
  justify-self: end;
}

main {
  background-color: var(--white);
  color: #262c24;
}

.title_logo {
  display: grid;
  grid-template-columns: auto auto;
  margin: 1.5rem;
}

.about_us_textbox {
  margin: 1.5rem;
  max-width: 65ch;
}

.wefood_textbox {
  margin: 1.5rem;
  max-width: 65ch;
}

.subscribtion_info_textbox {
  margin: 1.5rem;
  max-width: 65ch;
}

.subscribtion_btn {
  margin-left: 15%;
  margin-right: 15%;
  background-color: var(--brown);
  color: var(--white);
  padding: min(3em, 6%);
  border-radius: 0.5rem;
}

.sub_link_to_btn {
  background-color: #fdf3e8;
  color: #262c24;
  display: grid;
  place-content: center;
  margin-top: 0.5rem;
  padding: min(3em, 6%);
  border-radius: 5rem;
  font-family: Afacad;
  font-weight: 100;
}

.screenbreak_solid_color {
  background-color: var(--brown);
  padding: 5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.kind_cooking {
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
}

.wefood_link {
  font-family: Afacad;
  font-weight: 100;
}

body {
  background-color: var(--white);
}
