* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #000000;
  --white: #fefbf6;
  --brown: #9e7267;
  --red: #d38275;
  --green: #6a7865;
}

/**** FONT ****/

.afacad-<uniquifier > {
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.handlee-regular {
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
p {
  font-family: Afacad;
  font-weight: 100;
}

header {
  background: #6f7f68;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  position: relative;
}

.top_bar img {
  height: 80px;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.burger {
  display: none;
  font-size: 50px;
  color: white;
  cursor: pointer;
}

footer {
  background: #6f7f68;
  height: 150px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: left;
  gap: 30px;
}

@media (max-width: 768px) {
  .burger {
    display: block;
  }

  nav {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background: #6f7f68;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    display: none;
    padding: 5px;
    padding-bottom: 18px;
  }

  nav.active {
    display: flex;
  }
  #nav-menu a {
    text-decoration: underline;
  }
}
