/***** Background Color *****/

.bgColor {
  background-color: #fefbf6;
}

/***** Share Recipes *****/

h1 {
  text-align: center;
  padding-bottom: 1rem;
}

.recipedescription {
  padding-left: 2rem;
  padding-right: 2rem;
  justify-self: center;
  padding-bottom: 2rem;
}

.list {
  padding-left: 2.5rem;
  color: #fefbf6;
}

.Recipeform {
  background-color: #9e7267;
  width: 320px;
  justify-self: center;
}

#ingredients {
  background-color: #fefbf6;
  border-radius: 0.4rem;
  border: none;
  height: 1.7rem;
  width: 180px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 0.4rem;
}

.sub {
  margin-left: 4rem;
  color: #fefbf6;
}

h3 {
  margin-top: 2rem;
  margin-bottom: 0.4rem;
}

.h2white {
  color: #fefbf6;
  padding-left: 2.5rem;
  padding-top: 2rem;
}

.button {
  display: flex;
  justify-content: center;
}

.bottomtext {
  padding: 2rem;
  color: white;
  opacity: 50%;
}

.card {
  justify-items: center;
}
